.gallery {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 16px;
    
    &__figure {
        display: flex;
        flex-direction: column;
        gap: 7px;

        & img {
            height: 407px;
            object-fit: fill;
        }
    }
}