.filter {
  width: -moz-fit-content;
  width: fit-content;
  margin: 51px auto;
}
.filter__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.filter__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  border: 1px solid #1d6154;
  border-radius: 60px;
  width: 100px;
  height: 37px;
}
.filter__item--Appartements {
  width: 157px;
}
.filter__item--Hotelsrestaurants {
  width: 198px;
}
.filter__input {
  display: none;
}
.filter__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.filter__label-text {
  font-size: 16px;
  margin: 0 !important;
}

.active {
  background-color: #1d6154;
  color: #fff;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 379px;
  margin: 150px auto 0;
}
.login__title {
  margin-bottom: 37px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login__label {
  width: 100%;
  margin-bottom: 7px;
}
.login__input {
  width: 100%;
  height: 51px;
  margin-bottom: 30px;
}
.login__btn {
  height: 36px;
  border: none;
  margin-top: 7px;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 59px;
  width: 100%;
  background-color: #000;
  display: none;
}
.edit__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.edit__btn::before {
  font-family: "Font Awesome 6 Free";
  content: "\f044";
  font-weight: 400;
  font-size: 16px;
  margin-right: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}
.modal__background {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.modal__back {
  display: none;
  position: absolute;
  top: 26px;
  left: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__back::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f060";
  font-size: 21px;
  width: 21px;
  line-height: 21px;
  color: #000;
}
.modal__close {
  position: absolute;
  top: 26px;
  right: 30px;
  padding: 1.5px 4.5px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__close::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00d";
  font-size: 20px;
  color: #000;
}
.modal__title {
  margin-top: 60px;
  margin-bottom: 46px;
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
}
.modal__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 105px;
  gap: 29.5px 8px;
}
.modal__gallery figure {
  position: relative;
}
.modal__gallery img {
  width: 76.9px;
  height: 103px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__gallery figcaption {
  display: none;
}
.modal__add-picture {
  display: none;
  margin: 0 105px;
  gap: 29.5px 8px;
}
.modal__line {
  position: absolute;
  bottom: 119px;
  width: 420px;
  height: 1px;
  background-color: #B3B3B3;
}
.btn-primary {
  position: absolute;
  bottom: 45px;
  width: 237px;
  height: 36px;
  border: none;
  border-radius: 60px;
  color: #fff;
  background: #1D6154;
}

.delete__btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 6px;
  width: 17px;
  border-radius: 2px;
  background: black;
  cursor: pointer;
}
.delete__btn::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f2ed";
  font-size: 11px;
  line-height: 17px;
  color: #fff;
}

.add-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-work__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add-work__label--background {
  width: 420px;
  height: 169px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: #E8F1F6;
}
.add-work__label--picture {
  font-size: 76px;
  color: #b9c5cc;
  margin-bottom: 6px;
}
.add-work__label--preview-picture {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-work__label--picture-btn {
  width: 173px;
  height: 36px;
  background-color: #CBD6DC;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 7px;
  color: #306685;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-work__label--picture-txt {
  font-size: 10px;
  color: #444444;
  margin-bottom: 19px;
}
.add-work__label--txt {
  width: 100%;
  font-family: Work Sans;
  position: relative;
  left: 0;
  font-size: 14px;
  font-weight: 500px;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.add-work__input {
  width: 100%;
  height: 51px;
  margin-bottom: 21px;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-work__input--title {
  padding-left: 10px;
}
.add-work__input--select {
  position: relative;
  background-color: transparent;
  justify-content: center;
  align-items: flex-start;
}
.add-work__input--select::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 12px;
  color: #6c6c6c;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.add-work__input--select.active::after {
  content: "\f077";
}
.add-work__input--select > select {
  display: none;
}
.add-work__input[type=file] {
  display: none;
}
.add-work__custom-select-value {
  position: absolute;
  z-index: 11;
  padding: 10px;
  color: #444444; /* Ajoutez la couleur du texte */
}
.add-work__custom-select-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  display: none;
}
.add-work__custom-select-items.display {
  display: flex;
}
.add-work__custom-select-item {
  width: 100%;
  line-height: 20px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  color: #444444;
}
.add-work__custom-select-item:hover {
  background-color: #E8F1F6;
}
.add-work__btn {
  margin: 0 !important;
  bottom: 55px;
}

.add-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add-picture__wrapper {
  width: 420px;
  height: 169px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: #E8F1F6;
}
.add-picture__icon {
  font-size: 76px;
  color: #b9c5cc;
  margin-bottom: 6px;
}
.add-picture__btn {
  width: 173px;
  height: 36px;
  background-color: #CBD6DC;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 7px;
  color: #306685;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-picture__input {
  display: none;
}
.add-picture__txt {
  font-size: 10px;
  color: #444444;
  margin-bottom: 19px;
}
.add-picture__preview {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */