.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.header--logged {
  padding: 38px 0 92px 0;
}
.header__logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-size: 22px;
  line-height: 26px;
}
.header__logo-description {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

main {
  padding: 0 95px;
}

.introduction {
  display: flex;
  align-items: center;
  margin: 139px 0;
}
.introduction--logged {
  margin: 0 0 139px 0;
}
.introduction figure {
  flex: 1;
  margin-right: 72px;
}
.introduction img {
  display: block;
  margin: auto;
  width: 474px;
}
.introduction article {
  flex: 1;
}
.introduction h2 {
  margin-bottom: 1em;
}
.introduction p {
  margin-bottom: 0.5em;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin-bottom: 57px;
  position: relative;
}
.portfolio--logged {
  gap: 92px;
}
.portfolio__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contact {
  width: 404px;
  margin: auto;
  text-align: center;
}
#contact h2 {
  margin-bottom: 9px;
}
#contact form {
  display: flex;
  flex-direction: column;
  margin: 0 12px 0 13px;
  text-align: left;
}
#contact input {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  font-family: "Work sans";
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  padding-right: 107px;
}

.footer {
  width: 100%;
}
.footer-login {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__item {
  cursor: pointer;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
}
.navbar__item {
  font-size: 1.2em;
  cursor: pointer;
}
.navbar__link--active {
  font-weight: bold;
}
.navbar__icon {
  width: 22px;
  font-weight: 900;
}

.filter {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: none;
}
.filter__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.filter__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  border: 1px solid #1d6154;
  border-radius: 60px;
  width: 100px;
  height: 37px;
}
.filter__item--Appartements {
  width: 157px;
}
.filter__item--Hotelsrestaurants {
  width: 198px;
}
.filter__input {
  display: none;
}
.filter__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.filter__label-text {
  font-size: 16px;
  margin: 0 !important;
}

.active {
  background-color: #1d6154;
  color: #fff;
}

.work-card {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.work-card__img {
  width: 100%;
  height: 407px;
  -o-object-fit: fill;
     object-fit: fill;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 379px;
  margin: 150px auto 0;
  position: relative;
}
.login__title {
  margin-bottom: 37px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login__label {
  width: 100%;
  margin-bottom: 7px;
  word-spacing: -0.1em;
}
.login__input {
  width: 100%;
  height: 51px;
  margin-bottom: 30px;
  padding-left: 5px;
  background: #FFF;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
.login__input--error {
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8);
}
.login__input--error:focus-visible {
  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.8);
}
.login__btn {
  height: 36px;
  border: none;
  margin-top: 7px;
}
.login__link {
  color: #3D3D3D;
  font-family: Work Sans;
  font-size: 14px;
  line-height: 16px;
  word-spacing: -0.1em;
  font-weight: 500;
  text-decoration-line: underline;
}
.login__error {
  display: none;
  position: absolute;
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  left: 100%;
  width: -moz-max-content;
  width: max-content;
  margin-left: 10px;
  border: none;
}
.login__error--display {
  display: block;
}
.login__error-email {
  top: 28%;
}
.login__error-password {
  top: 55%;
}

.edit__banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 59px;
  width: 100%;
  background-color: #000;
  display: none;
}
.edit__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: none;
}
.edit__btn::before {
  position: relative;
  top: 0;
  font-family: "Font Awesome 6 Free";
  content: "\f044";
  font-weight: 400;
  font-size: 16px;
  margin-right: 10px;
}
.edit__btn-1 {
  color: #fff;
}
.edit__btn-2 {
  position: absolute;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  transform: translateX(200%);
}
.edit__btn-2::before {
  transform: translateY(-2px);
  font-weight: 400;
  margin-right: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}
.modal__background {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.modal__btn-back {
  display: none;
  position: absolute;
  top: 26px;
  left: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__btn-back::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f060";
  font-size: 21px;
  width: 21px;
  line-height: 21px;
  color: #000;
}
.modal__btn-close {
  position: absolute;
  top: 26px;
  right: 30px;
  padding: 1.5px 4.5px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__btn-close::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00d";
  font-size: 20px;
  color: #000;
}
.modal__title {
  margin-top: 60px;
  margin-bottom: 46px;
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
}
.modal__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 105px;
  gap: 29.5px 8px;
}
.modal__gallery figure {
  position: relative;
}
.modal__gallery img {
  width: 76.9px;
  height: 103px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__gallery figcaption {
  display: none;
}
.modal__add-work {
  display: none;
  margin: 0 105px;
  gap: 29.5px 8px;
}
.modal__line {
  position: absolute;
  bottom: 119px;
  width: 420px;
  height: 1px;
  background-color: #B3B3B3;
}
.btn-primary {
  position: absolute;
  bottom: 45px;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 36px;
  border: none;
  border-radius: 60px;
  color: #fff;
  background: #1D6154;
}

.delete__btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 6px;
  width: 17px;
  border-radius: 2px;
  background: black;
  cursor: pointer;
}
.delete__btn::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f2ed";
  font-size: 11px;
  line-height: 17px;
  color: #fff;
}

.add-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-work__label {
  width: 100%;
  margin-bottom: 10px;
  font-family: Work Sans;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #3d3d3d;
}
.add-work__input {
  width: 100%;
  height: 51px;
  margin-bottom: 21px;
  font: inherit;
  border: none;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
.add-work__input--title {
  padding-left: 10px;
}
.add-work__input[type=file] {
  display: none;
}
.add-work__btn {
  margin: 0 !important;
  bottom: 55px;
}
.add-work__btn:disabled {
  background-color: #cbd6dc;
  color: #306685;
  cursor: not-allowed;
}

.add-picture {
  width: 420px;
  height: 169px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: #E8F1F6;
}
.add-picture__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.add-picture__icon {
  font-size: 76px;
  height: 76px;
  width: 76px;
  color: #b9c5cc;
  margin: 13px 0 6px;
}
.add-picture__btn {
  width: 173px;
  height: 36px;
  background-color: #CBD6DC;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 7px;
  color: #306685;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-picture__input {
  display: none;
}
.add-picture__txt {
  font-size: 10px;
  color: #444444;
  margin-bottom: 19px;
}
.add-picture__preview {
  display: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-picture__preview--active {
  display: block;
}
.add-picture__preview--active ~ .add-picture__wrapper {
  display: none;
}

.custom-select {
  position: relative;
}
.custom-select::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  right: 28.82px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c6c6c;
}
.custom-select.opened::after {
  content: "\f077";
}
.custom-select > select {
  display: none;
}
.custom-select__value {
  position: absolute;
  z-index: 11;
  font-size: 16px;
  line-height: 51px;
  padding-left: 10px;
  color: #444444;
}
.custom-select__list {
  width: 100%;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  display: none;
}
.custom-select__list.display {
  display: block;
}
.custom-select__item {
  width: 100%;
  line-height: 20px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  color: #444444;
}
.custom-select__item:hover {
  background-color: #E8F1F6;
}

.notification-modal {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 75px;
  border-radius: 10px;
  background-color: #FFFEF8;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.notification-modal__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}/*# sourceMappingURL=index.css.map */