.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;

	&--logged {
		padding: 38px 0 92px 0;
	}

	&__logo-title {
		@include flex(column, center, flex-start);
		gap: 4px;
		font-size: 22px;
		line-height: 26px;
	}

	&__logo-description {
		font-size: 10px;
		line-height: 12px;
		text-transform: uppercase;
	}
}